.form-profile-container {
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 88px;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 40px;
}

.label-text-dark-theme {
    font-family: "Exo 2";
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: white;
    height: 40%;
}

.label-text-light-theme {
    font-family: "Exo 2";
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #313037;
    height: 40%;
}

.input-content-dark-theme {
    font-family: "Exo 2";
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: white;
    height: 60%;
    padding-left: 24px;
    border: 2px solid #323537;
    border-radius: 10px;
    background-color: #323537;
}

.input-content-light-theme {
    font-family: "Exo 2";
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #777c82;
    height: 60%;
    padding-left: 20px;
    border: 2px solid #989da2;
    border-radius: 10px;
    background-color: white;
}

.input-content-light-theme::placeholder {
    font-family: "Exo 2";
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #80858B;
}

.input-content-dark-theme::placeholder {
    font-family: "Exo 2";
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #c1c4c7;
}

.input-content-dark-theme:focus {
    outline: none;
    border: 2px solid #7B61FF;
}

.input-content-light-theme:focus {
    outline: none;
    border: 2px solid #8e79f5;
}

.input-content-dark-theme:disabled::placeholder {
    color: white
} 

.input-content-light-theme:disabled::placeholder {
    color: #565858;
} 

.input-content-dark-theme:disabled {
    background-color: #80858B;
    border: 2px solid #80858B;
} 

.input-content-light-theme:disabled {
    background-color: #d5d9dd;
    border: 2px solid #bec7d1;
    color: #313037;
} 

.error-text {
    margin-top: 10px;
    color: red;
    display: none;
}

@media screen and (max-width: 800px) {
    .form-profile-container{
        width: 90%;
        align-self: center;
    }
}

