.user-container {
    width: 264px;
    height: 56px;
    display: flex;
    margin-left: 30px;
    position: relative;
}

.color-box {
    width: 56px;
    height: 56px;
    border-radius: 10px;
    background-color: #7B61FF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-details-box-dark-theme {
    width: 180px;
    height: 100%;
    background-color: black;
}

.user-details-box-light-theme {
    width: 180px;
    height: 100%;
    background-color: white;
}

.user-details-dark-theme {
    font-family: "Exo 2";
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: white;
    padding-left: 15px;
}

.user-details-light-theme {
    font-family: "Exo 2";
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #242426;
    padding-left: 15px;
}

.navigate-box-dark-theme {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigate-box-light-theme {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}