.myButton {
    line-height: 24px;
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: 600;
    font-family: "Exo 2";
    border-radius: 10px;
    width: 199px;
    height: 56px;
}

.primary {
    background-color: #7B61FF;
    color: white;
    border: none;
}

.primary:hover {
    background-color: #917CFF;
    cursor: pointer;
}

.primary:disabled {
    background-color: #80858B;
    color: #AFB2B6;
    cursor: default;
}

.secondary {
    background-color: #323537;
    color: white;
    border: none;
}

.secondary:hover {
    color: #AFB2B6;
    cursor: pointer;
}

.secondary:disabled {
    background-color: #80858B;
    color: #AFB2B6;
    cursor: default;
}

.large {
    width: 95%;
    margin-left: 10px;
    margin-top: 20px;
}

.show-more {
    height: 60px;
    border-radius: 40px;
    width: 170px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.favorite {
    border-radius: 10px 0px 0px 10px;
    width: 130px;
}

.favorite:hover {
    background-color: #7B61FF;
}


.favorite-two {
    border-radius: 0px 10px 10px 0px;
    width: 130px;
    border-left: 1px solid #AFB2B6;
}

.favorite-two:hover {
    background-color: #7B61FF;
}

.profile-button {
    margin-top: 20px;
}

@media screen and (max-width: 270px) {
    .favorite{
        width: 100px;
    }
    .favorite-two{
        width: 100px;
    }
}
