.mainTitle-light-theme {
    width: 76%;
    height: auto;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    color: #242426;
    font-family: "Exo 2";
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

.mainTitle-dark-theme {
    width: 76%;
    height: auto;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    color: white;
    font-family: "Exo 2";
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

@media screen and (max-width: 270px) {
    .mainTitle-light-theme {
        font-size: 22px;
    }
    .mainTitle-light-theme {
        font-size: 22px;
    }
}