.page-layout {
    background-color: transparent;
    width: 95%;
    height: auto;
    margin: 0 auto;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, 275px);
    grid-auto-rows: 10px;
    column-gap: 20px;
    row-gap: 11px;
    padding-top: 40px;
}

.button-container {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: transparent;
}

.link-decoration {
    text-decoration: none;
    height: auto;
}