.header-light-theme {
    width: 100%;
    height: 96px;
    background-color: white;
    padding-top: 40px;
    box-sizing: border-box;
}

.header-dark-theme {
    width: 100%;
    height: 96px;
    background-color: black;
    padding-top: 40px;
    box-sizing: border-box;
}

.header-container {
    width: 95%;
    display: flex;
    margin: 0 auto;
    align-items: center;
    position: relative;
}

.header-menu {
    width: 56px;
    height: 56px;
}

.header-logo {
    width: 158px;
    height: 40px;
    margin-left: 30px;
    margin-right: 30px;
}

.additional-menu-dark-theme {
    width: 242px;
    height: 336px;
    display: flex;
    flex-direction: column;
    background-color: #242426;
    border-radius: 10px;
    position: absolute;
    top: 70px;
    z-index: 100;
}

.additional-menu-light-theme {
    width: 242px;
    height: 336px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    position: absolute;
    top: 70px;
    box-shadow: 1px 2px 10px 1px rgba(0, 0, 0, 0.3);
    z-index: 100;
}

.additional-menu-point {
    width: 100%;
    height: 16%;
}

.additional-menu-point-dark-theme {
    width: 100%;
    /* height: 16%; */
    border-bottom: 1px solid #80858B;
    display: flex;
    align-items: center;
}

.additional-menu-point-light-theme {
    width: 100%;
    /* height: 16%; */
    border-bottom: 1px solid #80858B;
    display: flex;
    align-items: center;
}

.additional-menu-point-favorite-dark-theme {
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #80858B;
    display: flex;
    align-items: center;
}

.additional-menu-point-favorite-light-theme {
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #80858B;
    display: flex;
    align-items: center;
}

.additional-menu-point-icon {
    width: 20px;
    height: 20px;
    margin: 0px 20px 0px 20px;
}

.additional-menu-point-name {
    color: #AFB2B6;
    font-family: "Exo 2";
    font-weight: 500;
    font-size: 16px;
    line-height: 52px;
}

.additional-menu-point-name:hover {
    color: #7B61FF;
    cursor: pointer;
}

.additional-menu-point-theme {
    width: 100%;
    height: 60px;
    display: flex;
}

.additional-menu-point-theme-box {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.theme-icon {
    width: 35px;
    height: 35px;
}

.theme-icon:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.moon {
    width: 30px;
    height: 30px;
}

.user-container {
    width: 264px;
    height: 56px;
    display: flex;
    margin-left: 30px;
    position: relative;
}

.color-box {
    width: 56px;
    height: 56px;
    border-radius: 10px;
    background-color: #7B61FF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-details-box-dark-theme {
    width: 180px;
    height: 100%;
    background-color: black;
}

.user-details-box-light-theme {
    width: 180px;
    height: 100%;
    background-color: white;
}

.user-details-dark-theme {
    font-family: "Exo 2";
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: white;
    padding-left: 15px;
}

.user-details-light-theme {
    font-family: "Exo 2";
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #242426;
    padding-left: 15px;
}

.navigate-box-dark-theme {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigate-box-light-theme {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-menu-light-theme {
    width: 260px;
    height: 112px;
    background-color: white;
    border-radius: 10px;
    position: absolute;
    top: 70px;
    box-shadow: 10px 10px 10px 1px rgba(0, 0, 0, 0.3);
    z-index: 100;
}

.user-menu-dark-theme {
    width: 260px;
    height: 112px;
    background-color: #242426;
    border-radius: 10px;
    position: absolute;
    top: 70px;
    z-index: 100;
}

.user-menu-pointOne-light-theme {
    width: 100%;
    height: 50%;
    color: #242426;
    font-family: "Exo 2";
    font-weight: 500;
    font-size: 16px;
    line-height: 52px;
    border-bottom: 1px solid #AFB2B6;
    padding-left: 30px;
    box-sizing: border-box;
}

.user-menu-pointOne-dark-theme {
    width: 100%;
    height: 50%;
    color: white;
    font-family: "Exo 2";
    font-weight: 500;
    font-size: 16px;
    line-height: 52px;
    border-bottom: 1px solid #80858B;
    padding-left: 30px;
    box-sizing: border-box;
}

.user-menu-pointTwo {
    width: 100%;
    height: 50%;
    color: #7B61FF;
    font-family: "Exo 2";
    font-weight: 500;
    font-size: 16px;
    line-height: 52px;
    padding-left: 30px;
    box-sizing: border-box;
}

.user-menu-pointTwo:hover{
    cursor: pointer;
}

.display-none {
    display: none;
}

@media screen and (max-width: 750px) {
    .user-details-box-dark-theme{
        display: none;
    }
    .user-details-box-light-theme{
        display: none;
    }
    .navigate-box-dark-theme{
        margin-left: 5px;
    }
    .navigate-box-light-theme{
        margin-left: 5px;
    }
    .user-menu-dark-theme {
        right: 40px;
        width: 200px;
    }
    .user-menu-light-theme {
        right: 40px;
        width: 200px;
    }
}

@media screen and (max-width: 580px) {
    .header-light-theme{
        height: auto;
    }
    .header-dark-theme{
        height: auto;
    }
    .header-container{
        flex-wrap: wrap;
    }
    .user-container{
        width: 85px;
        padding-top: 25px;
    }
    .user-menu-dark-theme{
        right: 30px;
        top: 95px;
    }
    .user-menu-light-theme{
        right: 30px;
        top: 95px;
    }
}

@media screen and (max-width: 322px) {
    .header-logo{
        width: 145px;
    }
}

@media screen and (max-width: 293px) {
    .header-logo{
        width: 130px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .additional-menu-dark-theme{
        width: 200px;
    }
    .additional-menu-light-theme{
        width: 200px;
    }
    .user-container{
        margin-left: 5px;
    }
    .user-menu-dark-theme{
        width: 150px;
    }
    .user-menu-light-theme{
        width: 150px;
    }
}